.nx/installation
.nx/cache
.nx/workspace-data
node_modules
.env
dist
.serena
.nx

.cursor/rules/nx-rules.mdc
.github/instructions/nx.instructions.md
vite.config.*.timestamp*
vitest.config.*.timestamp*