.nx/installation
.nx/cache
.nx/workspace-data
node_modules
.env
dist
.serena
.nx

.cursor/rules/nx-rules.mdc
.github/instructions/nx.instructions.md
vite.config.*.timestamp*
vitest.config.*.timestamp*
web-e2e/playwright-report
web-e2e/test-results
web-e2e/screenshots
web-e2e/test-reports
/uploads