# Build outputs
dist
coverage

# Nx cache
.nx

# Dependencies
node_modules

# Minified files
*.min.js
*.min.css

# Lock files
bun.lock
package-lock.json

# IDE
.idea
.vscode

# Environment files (except example)
.env*
!.env.example
